<section class="status">
    <div class="container mx-auto">
        <div class="status-box w-2/3 mx-auto">
            <div class="flex items-center justify-between mb-12">
                <h1 class="text-xl font-bold">Track Dilevary Status</h1>
                <h2 class="bg-white py-1 rounded-full px-4 text-green-600 text-xs">
                    <%= order._id %>
                </h2>
            </div>
            <ul>
                <li class="status-line text-xl pb-16 step-completed"><span>Order Placed</span></li>
                <li class="status-line text-xl pb-16 current"><span>Order Confirmation</span></li>
                <li class="status-line text-xl pb-16"><span>Prepration</span></li>
                <li class="status-line text-xl pb-16"><span>Out For Dilevary</span></li>
                <li class="status-line text-xl"><span>Complete</span></li>
            </ul>
        </div>
    </div>
</section>